body{
    background-image:url("D:\project\first\youtube-gaming-rm7am1fa6do546ri.jpg");
   background-size: cover;
   align-items: center;
}
.header{
    font-size:50px;    
    color:whitesmoke;
   
}